html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url(https://images.pexels.com/photos/13568751/pexels-photo-13568751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #00000092;
  color: white;
  background-position: center center;
  font-family: "PT Sans", sans-serif;
  animation: background 2s ease-in-out;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin: 0 2rem;
}

.first_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .first_col {
    width: 45%;
    height: 100vh;
    margin: 0;
  }

  .second_col {
    width: 45%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .first_col {
    width: 45%;
  }

  .second_col {
    width: 45%;
  }
}

.second_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  width: 480px;
  padding: 2rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #5353dc;
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 100%;
  text-align: center;
}

.header_input {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
}

.containerSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

/* Country */
.country {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: bold;
}

.country > span {
  font-size: 4rem;
}

ul {
  padding: 0;
}

.ul_li {
  display: flex;
  align-items: center;
  gap: 10px;
}
